.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.App-logo {
  position: absolute;
  top: 9%;
  height: 1.9vmin;
  pointer-events: none;
}

.wall{
  position: relative;
  margin-top: 21%;
  width: 781px;
  height: 482px;
}

.btnSet{
  position: absolute;
  top: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 387px;
}

.landBtn{
  width: 387px;
  height: 60px;
  background: #62A1EB;
  border-radius: 8px;
  margin-bottom: 26px;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  font-size: 20.5px;
  line-height: 24px;
  color: #FFFFFF;
  border: none;
}

.landBtn:hover{
  cursor: pointer;
}